<!DOCTYPE html>
<html>
<head>
<title>BLOOD BANK </title>
</head>
<body>

<h1>User registration form </h1>

<form method="post" action="."
  <br>
  
  First name:<br>
  <input type="text" name="firstname" label="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname" id = "lastname">
 <br>
Age:
 <br>
 <input type="number" name="age">
 <br>
password:
 <br>
 <input type="password" name="pass1">
 <br>
 password2:
 <br>
 <input type="password" name="pass2">
 <br>
email:
<br>
<input type="email" pattern="[^ @]*@mec[^ @]*" name="email">
<br>
<input type="submit" value="Login">
</form>

<!-- <h1>User registration form 2 </h1> -->

<!-- <form method="post" action="."
  First name:<br>
  <input type="text" name="firstname">
  <br>
  Last name:<br>
  <input type="text" name="lastname">
 <br>
Age:
 <br>
 <input type="number" name="age">
 <br>
  <input type="submit" value="Create Account">
</form>


 -->




</body>
</html>