<!DOCTYPE html>
<html>
<head>
<title>BLOOD BANK </title>
</head>
<body>

<h1>Welcome to library building page</h1>

<form method="post" action="."
  <br>
  
  Add a book:<br>
  <input type="text" name="bookname" >
  <br>

<br>
<input type="submit" name="addbook_submit_button" value="Submit">
</form>

<br>
<br>
<br>

<form method="post" action="."
  <br>
  
  Add a book category:<br>
  <input type="text" name="categoryname" >
  <br>

<br>
<input type="submit" name="addcat_submit_button" value="Submit">
</form>
